body {
  padding: 0;
  margin: 20;
}

#pageTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: x-large;
  text-align: center;
}

/* #regionmap{
  height: 400px;
} */

#heatmap{
    height: 500px
}

.leaflet-popup-content {
  text-align: center;
}

#chart1 #chart2{
  height:300px;
  width: 45%
}

/* .col {
   grid

} */

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

/* h1 {
  text-align: center;
} */


